<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Generator</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="left">
                <a href="/scissors/custom">Custom</a>
                <a href="/scissors/autogenerate">Auto</a>
                <a href="/scissors/history">History</a>
            </div>
            <p class="right">welcome <%=email%></p>
        </nav>

        

        <section>
            <h2>Scissors History</h2>
            <table style="width: 100%" class="table">
            <tr>
                <th>FullUrl</th>
                <th>ShortUrl</th>
                <th>Clicks</th>
                <th>Analytics</th>
            </tr>
            <% allLinks.forEach(linkinfo => {  %>
                <tr>
                    <td><a href="<%=linkinfo.fullurl%>"><%=linkinfo.fullurl%></a></td>
                    <td><a href="/:<%=linkinfo.newLink%>"><%=linkinfo.newLink%></a></td>
                    <td><%=linkinfo.clicks%></td>
                    <td><a href="/scissors/history/analytics/:<%=linkinfo.newLink%>" onclick= "showModal ()">Analytics</a></td>
                </tr> 
            <% }) %>
        </table>

        <% if(test == true){ %>
            <div class="modal-container">
                <div class="modal">
                   <p>New Url : <%=url.newLink%></p>
                   <p>Device Location:</p>
                   <p>Clicks: <%=url.clicks%></p>
                   <div class="form-label">
                        <img src="<%= url.src %>" alt="QR CODE">
                    </div>
                   <button onclick="hideModal()">Close</button>
                </div>
            </div>
        <% } %>
        
        </section>
    </div>

    <script>
        window.onresize = function() {
           var modalContainer = document.getElementsByClassName("modal-container")[0];
           modalContainer.style.height = window.innerHeight + "px";
           modalContainer.style.width = window.innerWidth + "px";
        }
        function showModal(){
           var modalContainer = document.getElementsByClassName("modal-container")[0];
           modalContainer.style.display = "flex";
        }
        function hideModal(){
           var modalContainer = document.getElementsByClassName("modal-container")[0];
           modalContainer.style.display = "none";
        }
     </script>
</body>
</html>